[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
ghp-import = "*"

[packages]
pelican = {extras = ["markdown"],version = "*"}

[requires]
python_version = "3.8"
