{% extends "base.html" %}

{% block metadata %}
    <meta name="description" content="{% if article.summary %}{{ article.summary|striptags() }}{% else %}{{ BIO }}{% endif %}">
    <meta property="og:description" content="{% if article.summary %}{{ article.summary|striptags() }}{% else %}{{ BIO }}{% endif %}">
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock title %}

{% block content %}
<div class="post">
    <h1 class="post-title">{{ article.title }}</h1>
    <span class="post-authors">
      {% for author in article.authors %}
        <a href="/{{ author.url|e }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </span>
    <p class="post-metadata">
        <span class="post-date" title="{{ article.date|strftime("%Y-%m-%dT%H:%M:%S%z") }}">{{ article.locale_date }}</span>
        <span class="post-category">under <a href="/{{ article.category.url }}">{{ article.category }}</a></span>
    </p>
    {{ article.content }}
    <br/>
    <span class="post-tags">
      {% for tag in article.tags %}
        <a href="/{{ tag.url }}">#{{ tag.name}}</a>{% if not loop.last %} {% endif %}
      {% endfor %}
    </span>
    {% include 'fragments/disqus.html' %}
</div>
{% endblock %}

