<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">

            <h1>
                <a href="/">
                    <img class="profile-picture" alt="Site logo. A picture of Will & Nathan holding tins of Tennent's, wearing t-shirts saying 'YER SHITE' on them in large letters." src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
                    {{ SIDEBAR_NAME }}
                </a>
            </h1>
            <p class="lead"></p>
            <p class="lead">{{ BIO }} </p>
            <p></p>
        </div>
        <nav class="sidebar-nav">
            {% for name, link in SIDEBAR_LINKS %}
            <a class="sidebar-nav-item" href="{{ link }}">{{ name }}</a>
            {% endfor %}
            {% for name, link in SOCIAL %}
                {% if name == 'email' %}
                    <a class="sidebar" href="mailto:{{ link }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% else %}
                    <a class="sidebar-nav-item-icon" href="{{ link }}">
                        <i class="fa fa-{{ name }}"></i>
                    </a>
                {% endif %}
            {% endfor %}
            <a class="sidebar-nav-item-icon" href="{{ FEED_ALL_RSS }}">
                <i class="fa fa-feed"></i>
            </a>
        </nav>
    </div>
</div>
